Makefile
Makefile.in
autom4te.cache/
aclocal.m4
config.*
configure
install-sh
missing
libtool
scripts/ltmain.sh
scripts/depcomp
src/host/autoconf.*
src/host/stamp-h1
src/host/posix/.dirstamp
.deps/
src/host/libhost.a
src/net/libnet.a
*.o
src/shadow
scripts/libtool.m4
scripts/ltoptions.m4
scripts/ltsugar.m4
scripts/ltversion.m4
scripts/lt~obsolete.m4
